.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: red;
}
.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;

}
.card .card-header{
    padding: 5px 5px;
}
.card .card-body{
    padding: 0px 5px;
}
.card .card-body p{
    margin: 5px;
}