.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: red;
    font-size: 70px;
    font-weight: bold;
}
form{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.card .card-header{
    padding: 5px 5px;
}
.card .card-body{
    padding: 0px 5px;
}
.card .card-body p{
    margin: 5px;
}
.card-body img{
    width: 25px;
    height: 25px;
}
button{
    margin-left: 2px;
}
input{
    width: 20%;
}